<app-nav></app-nav>


<button type="button" class="ring-4 p-2 m-2 hover:bg-violet-600" routerLink="/customers" >Customer</button>
<button type="button" class="ring-4 p-2 m-2" routerLink="/orders" >Order</button>
<button type="button" class="ring-4 p-2 m-2" routerLink="/form" >Form</button>
<button type="button" class="ring-4 p-2 m-2" routerLink="/regform" >Register</button>
<button type="button" class="ring-4 p-2 m-2" routerLink="" >Home</button>
<button type="button" class="ring-4 p-2 m-2" routerLink="/toDoList" >ToDoList</button>
<button type="button" class="ring-4 p-2 m-2" routerLink="/news" >News</button>
<button type="button" class="ring-4 p-2 m-2" routerLink="/convert-temp" >Temparature</button>

<!-- <app-auth-modal></app-auth-modal> -->

<router-outlet></router-outlet>